{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Últimas 10 Historias Clínicas</h4>
            <!-- 
            Si deseas un botón para crear una nueva Historia Clínica:
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/historiaclinicacreate' " style="text-align:center;">+
                </button>
            </div>
            -->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr style="color:#0E2EB0">
                                <th>Antecedentes Médicos</th>
                                <th>Medicamentos Actuales</th>
                                <th>Alergias</th>
                                <th>Cirugías Previas</th>
                                <th>Notas Adicionales</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for historia in historia_list %}
                            <tr>
                                <td>{{ historia.antecedentesMedicos }}</td>
                                <td>{{ historia.medicamentosActuales }}</td>
                                <td>{{ historia.alergias }}</td>
                                <td>{{ historia.cirugiasPrevias }}</td>
                                <td>{{ historia.notasAdicionales }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
