<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de Doctores</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación de Doctores</h1>
    
    <button onclick="window.location.href='/admin'">
        Agregar Historia Médica
    </button>

    <button onclick="window.location.href='/historiaClinica'">
        Ver Todas las Historias Médicas
    </button>

    <button onclick="window.location.href='/'">
        Volver al Inicio
    </button>
</body>
</html>
